@font-face {
    font-family: 'Euclid Circular B Bold';
    src: url('EuclidCircularB-Bold.woff2') format('woff2'),
        url('EuclidCircularB-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Euclid Circular B Bold';
    src: url('EuclidCircularB-BoldItalic.woff2') format('woff2'),
        url('EuclidCircularB-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

