@font-face {
    font-family: 'Euclid Circular B SemiBold';
    src: url('EuclidCircularB-SemiBold.woff2') format('woff2'),
        url('EuclidCircularB-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Euclid Circular B SemiBold';
    src: url('EuclidCircularB-SemiBoldItalic.woff2') format('woff2'),
        url('EuclidCircularB-SemiBoldItalic.woff') format('woff');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}

