@font-face {
    font-family: 'Euclid Circular B';
    src: url('EuclidCircularB-Regular.woff2') format('woff2'),
        url('EuclidCircularB-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Euclid Circular B';
    src: url('EuclidCircularB-Italic.woff2') format('woff2'),
        url('EuclidCircularB-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

